.Home {
  position: absolute;
  left: 230px;
  width: calc(100% - 500px);
  height: calc(100% - 56px);
}

@media only screen and (max-width: 1024px) {
  .Home {
    position: absolute;
    left: 0;
    width: 100%;
    height: calc(100% - 56px);
  }
}
