.ListPage {
  position: absolute;
  width: 270px;
  height: calc(100% - 56px);
  right: 0;
  z-index: 10;
  border-left: 1px solid black;
  /* background-color: rgba(0, 0, 0, 0.8); */
  /* color: white; */
  overflow-y: scroll;
  scrollbar-width: none;
  box-sizing: border-box;
}

.close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: auto;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  box-sizing: border-box;
  font-weight: bold;
  transition: 0.1s ease-out;
  cursor: pointer;
}

.close:hover {
  width: 35px;
  height: 35px;
  font-size: 1.2em;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.list {
  margin-top: 10px;
}

.list div {
  margin-bottom: 10px;
  padding-left: 15px;
}

@media only screen and (max-width: 1024px) {
  .ListPage {
    height: calc(100% - 106px);
  }
}
