.formContainer {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.formContainer h2 {
  text-align: center;
  margin-bottom: 20px;
}

.formContainer {
  margin-bottom: 15px;
}
.formContainer label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.formContainer input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.Login {
  text-align: center;
}

.Login .formContainer {
  max-width: 400px;
}

.Login button {
  width: 100%;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.Login button:hover {
  background-color: #1f72b6;
}
