.Posts {
  position: absolute;
  left: 230px;
  width: calc(100% - 500px);
  height: calc(100% - 56px);
  box-sizing: border-box;
}

.postheader {
  /* margin: 0; */
  width: 100%;
  padding: 15px;
  background-color: #000;
  color: white;
  box-sizing: border-box;
}

.posts {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 10px 20% 0 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  box-sizing: border-box;
}

/* .btn {
  position: relative;
  left: 3vw;
  margin: 5px;
  top: 12vh;
  z-index: -1;
} */

@media only screen and (max-width: 1200px) {
  .posts {
    padding: 10px 15% 0 15%;
  }
}

@media only screen and (max-width: 1024px) {
  .Posts {
    position: absolute;
    left: 0;
    width: 100%;
    height: calc(100% - 56px);
  }
  .posts {
    padding: 10px 20% 0 20%;
  }
}

@media only screen and (max-width: 600px) {
  .posts {
    padding: 10px 0 0 0;
  }
}
