.Post {
  border-radius: 10px;
  border: 2px solid black;
  margin-bottom: 5px;
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

.postheader {
  margin: 0;
  background-color: #000;
  color: #fff;
  border-radius: 8px 8px 0 0;
  font-size: 1em;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postheader div {
  display: flex;
  align-items: center;
}

.postheader img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-right: 20px;
}

.postheader button {
  border: 2px solid #fff;
  border-radius: 10px;
  background-color: transparent;
  padding: 5px 12px;
  color: #fff;
  cursor: pointer;
}

.info {
  display: flex;
  align-items: flex-start;
  background-color: #000;
  color: #fff;
  font-size: 0.8em;
  padding: 4px 12px;
  border-bottom: 1px solid rgb(61, 58, 58);
}

.topic {
  margin: auto;
  margin-right: 10px;
  font-weight: 500;
  min-width: fit-content;
  display: flex;
}

.description {
  margin: auto;
  width: 100%;
  overflow: hidden;
  word-wrap: break-word;
  line-height: 1.2em;
}

.description button {
  height: 20px;
  min-width: fit-content;
  text-decoration: underline;
  color: green;
  background-color: #000;
  border: none;
  cursor: pointer;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image img {
  width: 100%;
  object-fit: contain;
}

.postfooter {
  height: 45px;
  width: 100%;
  background-color: #000;
  color: #fff;
  border-radius: 0 0 8px 8px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.postfooter button {
  background-color: transparent;
  padding: 5px;
  border: 1px solid black;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.postfooter button:hover {
  border: 1px solid #fff;
  border-radius: 10px;
}

.postfooter button svg {
  /* stroke: white; */
  fill: #fff;
  font-size: 1.5em;
}

.postfooter p {
  position: absolute;
  right: 10px;
  font-size: 0.8em;
}

.comments {
  /* padding: 10px; */
  border-top: 1px solid rgb(61, 58, 58);
}

.input {
  height: 50px;
  background-color: #000;
  display: flex;
  align-items: center;
  /* background-color: ; */
}

.input input {
  height: inherit;
  background-color: transparent;
  color: #fff;
  border: none;
  outline: none;
  width: 100%;
  padding: 0 10px;
  font-size: 1em;
  font-weight: lighter;
}

.input button {
  margin: auto 5px;
  height: 40px;
  width: 45px;
  background-color: transparent;
  /* padding: 8px; */
  /* border: 2px solid #fff; */
  /* border-radius: 10px; */
  border: none;
  cursor: pointer;
}

.input button:hover {
  background-color: rgb(34, 33, 33);
  border-radius: 10px;

  svg {
    fill: rgb(34, 33, 33);
  }
}

.input svg {
  /* fill: #fff; */
  stroke: #fff;
  /* padding: 0; */
}

.comment {
  display: flex;
  align-items: center;
  padding: 5px 10px;
}

.comment img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 20px;
}

.comment p {
  margin: 0;
  padding: 0;
}

.Picker {
  width: 400px;
  /* position: absolute; */
  /* top: -67px; */
}

@media only screen and (max-width: 1024px) {
  .input {
    height: 40px;
  }
  .comment img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .Post {
    border-radius: 0;
  }
  .postheader {
    border-radius: 0;
  }
  .postfooter {
    border-radius: 0;
  }
}
