.Posts {
  position: absolute;
  left: 230px;
  width: calc(100% - 500px);
  height: calc(100% - 56px);
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
}

.postheader {
  width: 100%;
  padding: 15px;
  background-color: #000;
  color: white;
  box-sizing: border-box;
}

.posts {
  width: 60%;
  height: 100%;
  margin: auto;
  padding-top: 10px;
  box-sizing: border-box;
}

@media only screen and (max-width: 1200px) {
  .posts {
    width: 80%;
  }
}

@media only screen and (max-width: 1024px) {
  .Posts {
    position: absolute;
    left: 0;
    width: 100%;
    height: calc(100% - 106px);
  }

  .posts {
    width: 60%;
  }
}

@media only screen and (max-width: 600px) {
  .posts {
    width: 100%;
  }
}
