.SideBar {
  width: 230px;
  height: calc(100% - 56px);
  position: fixed;
  top: 56px;
  left: 0;
  border-right: 1px solid;
  box-sizing: border-box;
  /* box-shadow: 0 1px #000; */
  z-index: 100;
  /* backdrop-filter: blur(10px); */
  background-color: #fff;
}

.links {
  padding: 12px;
}

.link {
  text-decoration: none;
  color: inherit;
}

.sidelink {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 5px 12px;
  border-radius: 10px;
}

.sidelink:hover,
.sidelink:visited {
  background: #000;
  color: #fff;
  border: none;

  svg {
    fill: #fff;
    stroke: #000;
  }
}

.sidelink svg {
  margin-right: 24px;
}

.linkP {
  font-size: 1em;
  line-height: 0.5rem;
  font-weight: 500;
}

/* .p {
  margin: auto;
  height: 6vh;
  display: flex;
  align-items: center;
  font-size: large;
  padding-left: 10px;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.p:hover {
  cursor: pointer;
  background-color: cornflowerblue;
  color: white;
}

.p:active {
  background-color: cadetblue;
} */

@media only screen and (max-width: 1024px) {
  .SideBar {
    display: none;
  }
}
