.SideBar {
  width: 230px;
  height: calc(100% - 56px);
  position: fixed;
  top: 56px;
  left: 0;
  box-sizing: border-box;
  /* border-right: 1px solid black; */
  z-index: -1;
  background-color: #fff;
}

.links {
  padding: 12px;
}

a {
  text-decoration: none;
  color: inherit;
}

.sidelink {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 5px 12px;
  border-radius: 10px;

  svg {
    margin-right: 24px;
  }

  p {
    font-size: 1em;
    line-height: 0.5rem;
    font-weight: 500;
  }
}

.sidelink:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border: none;

  svg {
    fill: #fff;
    /* stroke: rgba(0, 0, 0, 0.8); */
  }
}

@media only screen and (max-width: 1024px) {
  .SideBar {
    width: 100vw;
    height: 50px;
    top: auto;
    bottom: 0;
    border: none;
    border-top: 1px solid black;
  }

  .links {
    height: 100%;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
  }

  a {
    height: 100%;
  }

  .sidelink {
    height: 100%;
    justify-content: center;
    padding: 0;
    border-radius: 0;

    svg {
      margin: 0;
    }

    p {
      display: none;
    }
  }
}
