.appShell {
  min-height: calc(100vh - var(--nav-height));
  padding-top: var(--nav-height);
}

.appMain {
  min-height: calc(100vh - var(--nav-height));
  margin-left: var(--sidebar-width);
  padding: 24px;
  box-sizing: border-box;
}

@media only screen and (max-width: 1024px) {
  .appMain {
    margin-left: 0;
    padding: 18px 16px calc(var(--bottom-nav-height) + 18px);
  }
}
